* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    background-color: white;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    width: 100%;
    margin: 2% 0 0 0;
    overflow: auto;
    border-radius: 10px;
    height: 100px;
}

.chat-avatar {
    width: 100px;
    float: left;
    border: 2px black;
}

.chat-message {
    font-size: 20px;
    font-weight: bold;
}

#message-form {
    position: fixed;
    bottom: 0;
    right: 20%;
    display: block;
    width: 60%;
    margin: 0 auto;
    color: black !important;
}

#message-form textarea {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    display: inline-block;
    background: #26C6DA;
    color: white;
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
}

#message-form button {
    margin: 0;
    width: 100%;
}

form::-moz-placeholder, form::-webkit-input-placeholder, form::-ms-input-placeholder, form:-moz-placeholder {
    color: white !important;
}

.left, .right {
    color: white;
    display: block;
}

.left {
    float: left;
    background-color: #00E676;
    border-radius: 0 10px 10px 0;
}

.right {
    float: right;
    background-color: #2196F3;
    padding: 15px 0 15px 15px;
    border-radius: 10px 0 0 10px;
}

.message-container {
    padding: 15px 0 15px 15px;
    width: 40%;
    height: 80px;
}

#all-messages-container li {
    height: 100px !important;
    overflow: auto;
    list-style-type: none;
}

#all-messages-container {
    height: 500px;
    overflow-y: scroll;
}