extends ./base-master
block header
    link(rel="stylesheet" href="/css/common/common.css")
    nav.navbar.navbar-fixed-top.navbar-color-on-scroll.navbar-success
        .container
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/")
                    | FITogether logo
                    .ripple-container
                form(action="/search" method="get")
                    input(type="text" name="searchValue" style="color:black;" placeholder="Search")
                    select(name="entityName" style="color:black;")
                        option(value="users" style="color:black;") Users
                        option(value="articles" style="color:black;") Articles
                        option(value="exercises" style="color:black;") Exercises
                    input(type="submit" value="Search" style="color:black;")
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Тренировки 
                            b.caret
                        ul.dropdown-menu
                            li 
                                a(href="#") TO DO : Tedi
                            li
                                a(href="/exercises?all") Всички упражнения
                            li
                                a(href="/articles?genre=exercises-article") Статии за тренировки
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Храни 
                            b.caret
                        ul.dropdown-menu
                            li 
                                a(href="/diets?all") Хранителни режими
                            li
                                a(href="/recipes?all") Рецепти
                            li
                                a(href="#") Състав на храни
                            li
                                a(href="/articles?genre=food-article") Статии за хранене
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Здраве 
                            b.caret
                        ul.dropdown-menu
                            li 
                                a(href="/articles?genre=healthy-day-article") Здравословен ден
                            li
                                a(href="/articles?genre=body-article") Статии за тялото
                            li
                                a(href="/articles?genre=injuries-article") Травми и контузии                         
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Хранителни добавки 
                            b.caret
                        ul.dropdown-menu
                            li 
                                a(href="/articles?genre=herbs-article") Билки
                            li
                                a(href="/articles?genre=suplements-article") Добавки
                            li
                                a(href="/articles?genre=vitamins-and-minerals-article") Витамини и минерали
                    li.dropdown
                        if viewBag.isLoggedIn
                            a.dropdown-toggle(href='#', data-toggle='dropdown') #{viewBag.username}
                                i.material-icons account_circle
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/users/profile/' + viewBag.userId) Профил
                                if viewBag.isAdmin
                                    li
                                        a(href="/admin-pannel") Админ
                                li
                                    a(href="/logout") Изход
                        else
                            a.dropdown-toggle(href="#", data-toggle="dropdown")
                                i.material-icons account_circle
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/users/login") Вход
                                li
                                    a(href="/users/register") Регистрация    

    div.wrapper    
        div.header.header-filter(style="background-image: url('/img/material-kit-images/bg3.jpeg');")
            div.container
                div.row
                    div.col-md-8.col-md-offset-2
                        div.brand
                            h1 FITogether.
                            h3 Some very insperational quote.
        
        div.main.main-raised
            div.section.section-basic
                div.container-fluid
                if viewBag.error
                  .alert.alert-danger
                    .container-fluid
                      .alert-icon
                        i.material-icons error_outline
                      button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true')
                          i.material-icons clear
                      b Error:
                      |  #{viewBag.error}

                block content