doctype
html
    head
        title Sad Pug Found
        link(href="/css/libs/bootstrap.min.css", rel="stylesheet")
        link(href="/css/libs/material-kit.css", rel="stylesheet")
        link(href="/css/common/page-not-found.css" rel="stylesheet")
    body
        div(id="page-not-found-container")
            div(class="alert alert-danger")
                h3 Страницата не беше намерена.
            img(class="img-circle img-responsive" src="/img/common/sad-pug.jpg")
