extends ../base-file-header
block content
  ul
    li
      a(href="/users/register") Регистрация 
    li
      a(href="/users/login") Вход 
    li
      a(href="/trainings") Тренировки
    li
      a(href="/foods") Храни
    li
      a(href="/health") Здраве
    li
      a(href="/food-additives") Хранителни добавки