extends ../base-file-header
block sub
  div.header.header-filter(style="background-image: url('/img/material-kit-images/bg3.jpeg');")
              div.container
                  div.row
                      div.col-md-8.col-md-offset-2
                          div.brand
                              h1 FITogether.
                              h3 Some very insperational quote.

  div.main.main-raised
    div.section.section-basic
        div.container-fluid
        if viewBag.error
          .alert.alert-danger
            .container-fluid
              .alert-icon
                i.material-icons error_outline
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true')
                  i.material-icons clear
              b Error:
              |  #{viewBag.error}
        block content