extends ../base-file-header
block sub
  div.header.header-filter(style="background-image: url('/img/material-kit-images/bg5.jpeg');")

  div.main.main-raised
    div.section.section-basic
        div.container-fluid
        if viewBag.error
          .alert.alert-danger
            .container-fluid
              .alert-icon
                i.material-icons error_outline
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true')
                  i.material-icons clear
              b Error:
              |  #{viewBag.error}
        block content