mixin articlesPagination(currentPage, pages, genre)
    div.divider
    div.text-center
        ul.pagination.pagination-success
            -for(let i = 1; i <= pages; i+=1 )
                if currentPage === i
                    li.active
                        a(href="/articles?genre=" + genre + "&page=" + i)= i
                else
                    li
                        a(href="/articles?genre=" + genre + "&page=" + i)= i