mixin homeSubheaderMixin
  div.header.header-filter(style="background-image: url('/img/common/fitness-woman-3.jpg');")
    div.container
      div.row
        div.col-md-10.col-md-offset-1
          div.brand
            h1 FITogether
            h2 Единствения човек,от който трябва да бъдеш по-добър е човекът,който си бил вчера !