mixin homeSubheaderMixin
    div.header.header-filter(style="background-image: url('/img/common/fitness-woman-2.jpg');")
        div.container
            div.row
                div.col-md-8.col-md-offset-2
                    div.brand
                        h1 FITogether.
                        h3 Some very insperational quote.