#admin-panel-container {
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#admin-panel-container h4 {
    font-weight: bold;
    text-align: center;
}

.create-model {
    background-color: #232E23;
}

.create-model:hover {
    background-color: #232E33;
}

.add-excercise-panel,
.add-food-category,
.add-new-recipe,
.add-food-diet,
.add-food {
    display: none;
}