#avatar-image {
    width: 100px;
    height: 100px;
}

#profile-container {
    width: 800px;
    display: block;
    margin-left: 50px;
    margin-right: 0px;
}

#profile-header {
    height: 100px;
}

#profile-header h3 {
    font-weight: bold;
    text-align: center;
}

.content {
    margin-right: 0px;
}

.section {
    padding: 20px;
}

.calendar-section {
    margin: 10px;
    border: 1px solid green;
    border-radius: 5px;
    width: 550px;
    display: inline-block;
}

.calendar-date {
    background-color: lightgreen;
}

.calendar-section span {
    padding: 0px 5px;
}

.profile-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: green;
    cursor: pointer
}

.profile-link:hover {
    text-decoration: none;
}

.workouts-holder {
    display: none;
}

.articles-holder {
    display: none;
}

.foods-holder {
    display: none;
}

.friendships-holder {
    display: none;
}

.datepicker-holder {
    display: inline-block;
}

.menus-selector {
    width: 600px;
    display: inline-block;
}

.workout-selector {
    width: 600px;
    display: inline-block;
}

.form-group {
    margin: 0px;
}

.meal-form {
    width: 425px;
    display: inline-block;
    margin: 0px;
}

.quantity-form {
    width: 130px;
    display: inline-block;
    margin: 0px;
}

.single-friendship {
    margin: 0px;
    padding: 0px;
    display: block;
    cursor: pointer;
}

.friendships-section {
    display: block;
}

.friendships-section h4 {
    display: block;
}

#friendship-request {
    width: 200px;
}

.not-online-button {
    float: initial;
}