extends ../base-master

block content
    link(rel="stylesheet" href="/css/users/profile.css") 
    div.header.header-default
    div.main.main-raised
        div.section.section-basic
            div.container-fluid
                div(class="content row" id="profile-container")
                    div.col-md-6
                        if user.isTrainer
                            h3.trainer-title #{user.username}
                        else 
                            h3 #{user.username}

                        img(class="img-circle img-responsive" src="/img/user-images/" + user.avatarName id="avatar-image")
                    div.col-md-6
                        ul
                            li
                                h3 
                                    a(href="/users/profile/my-calendar") Моят Календар
                            li 
                                if user.isTrainer
                                    h3 
                                        a(href="/users/profile/my-articles") Моите Статии
                block content
                        
