extends ../base-master

block content
  .section.section-full-screen.section-signup(style="background-image: url('/img/material-kit-images/bg3.jpeg'); background-size: cover; background-position: top center; ")
    .container
      .row
        .col-md-8.col-md-offset-2
          .card.card-signup
            form.form(action="/users/register" method="post" enctype="multipart/form-data")
              .header.header-success.text-center
                h4 Sign Up
              .content.row
                .col-md-6
                  .input-group
                    span.input-group-addon
                      i.material-icons face
                    input.form-control(type="text" id="tb-username" placeholder="Username" name="username" class="form-control")
                  .input-group
                    span.input-group-addon
                      i.material-icons face
                    input.form-control(type="text" id="tb-first-name" placeholder="First name" name="firstname" class="form-control")
                  .input-group
                    span.input-group-addon
                      i.material-icons face
                    input.form-control(type="text" id="tb-last-name" placeholder="Last name" name="lastname" class="form-control")
                .col-md-6
                  .input-group
                    span.input-group-addon
                      i.material-icons lock_outline
                    input.form-control(type="password" id="tb-paswword" placeholder="Password" name="password" class="form-control")
                  .input-group
                    span.input-group-addon
                      i.material-icons lock_outline
                    input.form-control(type="password" id="tb-confirm-paswword" placeholder="Confirm password" name="confirmPassword" class="form-control")
                  .input-group
                    span.input-group-addon
                      i.material-icons attach_file
                    input.form-control(type="file" id="avatar-input" name="avatar")
                    label(for="avatar-input") Avatar
              .footer.text-center
                input(type="submit" value="Register" class="btn btn-success")