.navbar-black {
    background-color: #000;
    color: #fff;
}

.material-icons.like-icon {
    color: white;
    font-size: 12px;
    margin: auto;
    vertical-align: text-top;
}

.dislike-button,
.like-button {
    text-transform: none;
    color: red
}

.dislike-button:hover,
.like-button:hover {
    color: red;
    text-decoration: none;
}

.dislike-button:hover,
.like-button:focus {
    color: red;
    text-decoration: none;
}

.like-value {
    color: white;
}

li {
    list-style-type: none;
}

.divider {
    display: block;
    height: 1px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .12);
    margin-bottom: 10px;
    margin-top: 10px;
}

.card {
    top: 120px;
}

.section {
    padding: 80px 0;
}

.btn-search {
    color: #4caf50 !important;
}

.trainer-title {
    color: rebeccapurple;
}

.header-default {
    min-height: 165px !important;
}

.btn-edit {
    float: right !important;
    top: -55px;
}

.btn-delete {
    float: right !important;
    top: -55px;
}

.btn-auth {
    margin-left: 10px !important;
    margin-right: 10px !important;
}


/* ==========  Select Field Variables ========== */


/* ==========  Select Field ========== */


/* Style Select Field */

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 14px;
    color: #FFF;
    border: none;
}


/* Remove focus */

select:focus {
    outline: none;
}


/* Hide label */

.mdl-selectfield label {
    display: none;
}


/* Use custom arrow */

.mdl-selectfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mdl-selectfield {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
}

.mdl-selectfield:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}

.modal-backdrop {
    z-index: 1 !important;
}

.custom-thumbnail-height {
    height: 430px;
}