extends ../base-master

block content
    title Sad Pug Found
    link(href="/css/common/page-not-found.css" rel="stylesheet")

    .section.section-full-screen.section-signup(style="background-image: url('/img/common/sad-pug.jpg'); background-size: cover; background-position: top center; ")
        .container
            .row
                div#page-not-found-container.col-md-6.col-md-offset-3
                      h2 Намерихме тъжен мопс, но не намерихме страницата, която поискахте.
                      small 404 - Страницата не беше намерена.