extends ../sub-headers/sub-header-default
block content
    link(rel="stylesheet" href="/css/articles/all-articles.css")
    each val in foods
        div.article-container
            a(href="/foods/single-food?title=" + val.title) #{val.title}
            div.divider