extends ../sub-headers/sub-header-default
block content
    link(rel="stylesheet" href="/css/articles/all-articles.css")
    each val in diets
        div.article-container
            a(href="/diets/single-diet?title=" + val.title) #{val.title}
            div.divider