extends ../base-master

block content
  div.header.header-default
  div.main.main-raised
    div.section.section-basic
      div.container-fluid
        h1 #{title}
        div !{body}
        div !{comments}
            div(class="card card-nav-tabs")