extends ../sub-headers/sub-header-default
block content
    link(rel="stylesheet" href="/css/articles/all-articles.css")
    div.container-fluid
      each val in articles
            div.article-container
              a(href="single-article?title=" + val.mainHeader).article-link #{val.mainHeader}
              br
              small.article-subheader #{val.subHeader} 
              if viewBag.isTrainer
                form(method="post", action="/articles/edit")
                  input(type="hidden" name="articleId" value=val._id)
                  button.btn.btn-warning.btn-edit Edit
              else if viewBag.isAdmin
                form(method="post", action="/articles/edit")
                  input(type="hidden" name="articleId" value=val._id)
                  button.btn.btn-warning.btn-edit Edit
              div.divider
