extends ../base-master
block content
  
  script(src="../tinymce/tinymce.min.js")
  script(src="../tinymce/jquery.tinymce.min.js")
  script(src="/js/tinymce-config.js")

  div.header.header-default
  div.main.main-raised
    div.section.section-basic
      div.container-fluid
        form(method="post" action="/articles/create/update")
          div.row.container
            div.col-md-4
              div.form-group 
                input(type="text", name="articleHeader", placeholder="Header", value="" + article.mainHeader).form-control
                input(type="hidden", name="articleId", value="" + article._id).form-control
            div.col-md-4
              div.form-group
                input(type="text", name="articleSubHeader", placeholder="Subheader", value="" +  article.subHeader).form-control
          textarea(name="articleBody")#tinymce !{article.body}