.article-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.article-link:hover {
    text-decoration: none;
    color: #4caf50;
}

.article-container {
    padding: 10px 0 0 20px;
}

.article-subheader {
    color: dimgray;
    font-size: 14px;
}

li {
    list-style-type: disc;
}

.dropdown li {
    list-style-type: none;
}
