extends ../sub-headers/sub-header-default
block content
    ul
    each val in exercises
        li
            a(href="/exercises/explanations?title=" + val.name) #{val.name}
                br
                span #{val.url}