extends ../base-file-header
block content
    ul
    each val in exercises
        li
            a(href="explanations?title=" + val.name) #{val.name}
                br
                span #{val.url}